/*.banner-store {

    img {
        width: 100vw;
        height: auto;
    }
}*/

.banner-Home {
    background-color: #3772FF;
	position: relative;
    /*background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
    animation: banner-slide-mobile 20s infinite;

    @media (min-width: $screen-sm) {
        animation: banner-slide-tablet 20s infinite;
    }
    @media (min-width: $screen-lg) {
        animation: banner-slide-desktop 20s infinite;
    }
}