header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #3772FF 0%, rgba(55, 114, 255, 0) 100%);
    z-index: 1000;
    padding: 16px 5%;
    transition: 0.2s;
}

@media (max-width: $screen-lg) {
    header {
      padding: 0 5%;
    }
  
    #menu-icon {
      display: initial;
      fill: $white;
    }
  
    #menu-icon :hover {
      fill: $black;
    }
  
    header .navbar {
      position: absolute;
      top: rem(-400px);
      left: 0;
      right: 0;
      display: flex;
      padding: rem(40px) 0;
      flex-direction: column;
      background: $primary-color-1;
      transition: 0.2s ease;
      text-align: center;
    }
  
    .navbar.active {
      top: 100%;
    }
  
    .navbar a {
      padding: 1.5rem;
      display: block;
      background: $primary-color-1;
    }
  }
  
  @media (max-width: $screen-lg) {
    header {
        padding: 16px 5%;
    }
    section {
      padding: 64px 5%;
    }
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .navbar a:hover {
    color: $black;
  }


  .navbar a {
    padding: rem(24px);
    display: block;
  }