body {
    overflow-x: hidden;
    background-color: $primary-color-1;
    color: $white;
}

.page-content {

    .social-media-list {
        display: none;

        a {
            display: flex;
            align-items: center;
            gap: r$spacing-xs;
            justify-content: end;
        }
    }
}
