/* BANNER SLIDES */

/* home-mobile */
@keyframes banner-slide-mobile {
    0% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.webp);
    }
    20% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.webp);
    }
    25% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-2-banner.webp);
    }
    45% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-2-banner.webp);
    }
    50% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.webp);
    }
    70% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.webp);
    }
    75% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-2-banner.webp);
    }
    95% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-2-banner.webp);
    }
    100% {
        background-image: url(../../assets/images/banners/cta/mobile-kilos-graffiti-1-banner.webp);
    }
}

/* home-tablet */
@keyframes banner-slide-tablet {
    0% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-1-banner.webp);
    }
    20% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-1-banner.webp);
    }
    25% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-2-banner.webp);
    }
    45% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-2-banner.webp);
    }
    50% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-1-banner.webp);
    }
    70% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-1-banner.webp);
    }
    75% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-2-banner.webp);
    }
    95% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-2-banner.webp);
    }
    100% {
        background-image: url(../../assets/images/banners/cta/tablet-kilos-graffiti-1-banner.webp);
    }
}

/* home-desktop */
@keyframes banner-slide-desktop {
    0% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-1-banner.webp);
    }
    20% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-1-banner.webp);
    }
    25% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-2-banner.webp);
    }
    45% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-2-banner.webp);
    }
    50% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-1-banner.webp);
    }
    70% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-1-banner.webp);
    }
    75% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-2-banner.webp);
    }
    95% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-2-banner.webp);
    }
    100% {
        background-image: url(../../assets/images/banners/cta/desktop-kilos-graffiti-1-banner.webp);
    }
}