$padding-mobile: rem(24px) rem(16px);
$padding-tablet: rem(32px) 10%;
$padding-desktop: rem(64px) 10%;

$spacing-xxxs: rem(2px);
$spacing-xxs: rem(4px);
$spacing-xs: rem(8px);
$spacing-s: rem(16px);
$spacing-m: rem(24px);
$spacing-l: rem(32px);
$spacing-xl: rem(48px);
$spacing-xxl: rem(64px);
$spacing-xxxl: rem(96px);