.sm-icon {
    max-width: rem(48px);
    max-height: rem(48px);
}
.menu-icon {
    max-width: rem(64px);
    max-height: rem(64px);
    width: rem(64px);
}

svg {
    fill: $white;
    transition: .2s ease;
}
.btn-icon {
    transition: .2s ease;
    
    &:hover {
        color: $primary-color-2;
        transition: .2s ease;

        svg {
            fill: $primary-color-2;
            transition: .2s ease;
        }
    }
}

/* SLICK SLIDER */

/* .slick-dots li.slick-active button:before {
    color: white;
}*/